@use "src/theme" as t;

:host {
  display: grid;
  grid-template-columns: 1fr [content] minmax(400px, 1024px) 1fr;
  margin-top: 10rem;
}

main {
  grid-area: content;

  section {
    margin-bottom: 5rem;
  }
}

.user-action {
  margin-top: 5rem;
  font-size: 2.4rem;
}

.suggestions {
  display: flex;
  flex-direction: column;
  list-style: decimal;
  list-style-position: inside;
  white-space: nowrap;

  li > *,
  li::marker {
    display: inline-block;
    vertical-align: middle;
  }

  li::marker {
    font-size: 1.2rem;
  }
}

:host::ng-deep {
  li.selected.active {
    button fieldset {
      border-color: t.$highlight;
    }
  }
}
